@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 20px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 20px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 1px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 50px;
	height: 50px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placehantiguoer {
	color: #888;  
}

input:-moz-placehantiguoer {
  color: #888
}

.bottom-li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.search{
    width: 100%;
}
.search .fa-search{
    position: relative;
    left: -20px;
    color: #bbbbbb;
}

.search input{
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    padding-left: 5px;
    background-color: #f8f8f8;
}
i.fas.fa-star {
    color: #ded3aa;
}
.bottom-li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.bottom-li span{
    text-transform: uppercase;
    font-weight: 600;
}
.bottom-menu-ul .bottom-li :hover {
    color: #00c8c8;
}
i.fas.fa-star.star-empty {
    color: #d4d3d2;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
}
/* estrellas */
label{ color:grey;}
input[type = "radio"]{ display:none;}

/* logos rrss */
.logorrss{
    color: #727272;
}
.logorrss i{
    padding-left: 4px;
}

/* prodo */
.prod .antiguo-precio{
    text-decoration-line: line-through;

}
.prod .nuevo-precio{
    left: 80px;
}
.prod-content-right .precio .currency{
    margin-right: 1%;
    font-size: 0.7em;
    vertical-align: text-top;
}
.prod-view-p span{
    font-weight: 500;
}
.prod-detalle{
    display: none;
    padding: 10px;

}
.prod-detalle-p{
    font-family: Montserrat;
    color: #727272;
    font-weight: 400;
    text-align: left;
    font-size: 13px;
}

.view{
    font-weight: 400;
    font-variant-caps: all-small-caps;
    padding: 0px 15px;
    border: 2px solid;
    font-size: 20px;
    font-family: 'Montserrat';
    float: right;
    border-color: #bbbbbb;
    margin-top: 20px;
    color: #454647;
}

.prod-detalle p{
    left: inherit;
    top: inherit;
    font-family: Roboto;
    text-align: center;
    color: #8e8c8c;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 22px;
}
.prod-content-right  .inline-flex span {
    font-family: Montserrat;
    color: #727272;
    font-weight: 400;
    text-align: left;

}
.prod-content-right .inline-flex{
    padding-right: 8px;
    border-right: 2px #dfdfde solid;
    display: inline-flex;
    font-size: 10px;
}
.share-contents{
    color: #727272;
}
.share-contents i{
    padding-left: 4px;
}
.prod-content-right .inline-flex span:hover {
    color: #00c8c8;
}

.view:hover{
    text-decoration: none;
    background-color: #00c8c8;
    color: #fff;
    border-color: #00c8c8;
}
.bg-mavi{
    color: #00c8c8;
}

.currency{
    margin-right: 20%;
}

/* pie de pagina - footer*/
.footer-bottom{
    text-align: center;
}
.dev-span{
    float: inherit;
}
.desing-span{
    float: inherit;
}
.footter-banner .social{
    margin-top: 10px;
    padding: 30px 0px;
}
.fashion {
    position: relative;
    top: 5px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}
.social{
    background-color: #00c8c8;
    color: #ffff;
    padding: 45px 0px;
    width: 100%;
    height: 100%;
}
.social .fab {
    padding: 10px;

}
.footter-banner{
    padding: 20px 0px;
}
.footer-bottom{
    color: #999999;
    background-color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

footer {
    margin-top: 50px;
    background: #f8f8f8;
}

.footer-info p{
    font-family: 'Montserrat';
    color: #575153;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    font-variant-caps: all-small-caps;
}
.footer-info ul{
    list-style: none;
    font-family: 'Montserrat';
    color: #727272;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}
.footer-nav{
    justify-content: space-between;
    padding: 20px 0px;
    padding-right: 15px;
    padding-left: 15px;

}
.award{
    background-color: #333333;
    padding: 28px 10px 14px 10px;
    width: 100%;
    height: 100%;
}
.award h3{
    font-family: 'Montserrat';
    font-variant-caps: all-small-caps;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 700;
    line-height: 27px;
}